<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
        <!-- Our CSS-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/map.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <!--link rel="stylesheet" type="text/css" href="map.css"-->
        <title>Princeton Artfinder - Map</title>
    </head>
    <body class="d-flex flex-column">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="/map"><h2>Princeton Artfinder</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline ml-auto mr-2">
                        <input class="form-control m-1" type="search" placeholder="'Picasso', '1910', 'Steel'" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form> 
                </div>
            </nav>
        </header>
        <main>
            <div class="wrapper">
            <div id="mapid">
                    <button class="btn-primary" id="nearesttoggle" type="button" data-toggle="collapse" data-target="#nearest" aria-controls="nearest" aria-expanded="true" aria-label="Toggle nearest objects">
                            Nearest items
                    </button>
            </div>
                <div id="nearest" class="collapse show p-2">
                    <button class="btn-primary" id="dismiss" type = "button" data-toggle="collapse" data-target="#nearest" aria-controls="nearest" aria-expanded="false" aria-label="Toggle nearest objects" >
                            > <!-- That's meant as an actual arrow! -->
                    </button>    
                    <h1 id="locationHeader">
                        Using location to search for art...
                    </h1>
                    <div class ="row">
                        <div id = "sideLocate1" class = "col-12 col-md-8"></div>
                        <div id = "sideLocateImage1" class = "col-4 col-md-4"></div>
                    </div>
                    <div class ="row">
                        <div id = "sideLocate2" class = "col-12 col-md-8"></div>
                        <div id = "sideLocateImage2" class = "col-4 col-md-4"></div>
                    </div>
                        <div class ="row">
                            <div id = "sideLocate3" class = "col-12 col-md-8"></div>
                            <div id = "sideLocateImage3" class = "col-4 col-md-4"></div>
                    </div>
                    <div class ="row">
                        <div id = "sideLocate4" class = "col-12 col-md-8"></div>
                        <div id = "sideLocateImage4" class = "col-4 col-md-4"></div>
                    </div>
                    <div class ="row">
                    <div id = "sideLocate5" class = "col-12 col-md-8"></div>
                        <div id = "sideLocateImage5" class = "col-4 col-md-4"></div> 
                        </div>
                                
                </div>
            </div>
        </main>
        <!-- This is a jinja generated variable of all database items passed from the database through our server. 
            Needs to go here- will not work if moved to map.js-->
        <script type = "text/javascript"> var objects = '{{objects|tojson}}' </script> 
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/map.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
