.navbar {
    background-color:black;
    color: white;
}

body {
    background-color: white;
    height: 100%;
}

#mapid {
    width: 100vw;
    height: 100vh;
}
h2 {
   color: whitesmoke; 
}

a {
    text-decoration: none !important;
}