.navbar {
    background-color:black;
    color: white;
}

body {
    background-color: white;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

#mapid {
    width: 100vw;
    height: 100vh;
}
h2 {
   color: whitesmoke; 
}

a {
    text-decoration: none !important;
}

div.col {
    width: 150px;
}

#title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 15px;        /* fallback */
    max-height: 30px;       /* fallback */
 }

 #locationHeader {
    background-color: coral;
    margin-top: 0.67em;
    text-align: center;
    padding: 1em;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
    
 }

      
  