.navbar {
    overflow:hidden;
    background-color: teal;
    width: 100vw;
    color: white;
    height: 10vh;
}

body {
    background-color: lightgray;
    height: 100%;
}

h2 {
   color: whitesmoke; 
}

.footer {
    position: fixed;
    bottom: 0%
}

#pic {
    height: 90vh;
}