.navbar {
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: lightgray;
}

h2 {
   color: whitesmoke; 
}

.footer {
    background-color: darkgray;
}

a {
    text-decoration: none !important;
}