.navbar {
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif;
}

img { 
    min-width: 200px;
}

h2 {
   color: whitesmoke; 
}

#media {
    overflow: hidden;
    width: auto;
    max-height: auto;
}
.footer {
    background-color: darkgray;
    text-align: center;
}

.col {
    min-width: 250px;
}

a {
    text-decoration: none !important;
}