.navbar {
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif;
}

h2 {
   color: whitesmoke; 
}

.footer {
    background-color: black;
    color: whitesmoke;
}

a {
    text-decoration: none !important;
}